body {
  font-family: sans-serif;
  margin: auto;
  background-color: #313236;
}

.navbar {
  background-color: #656565 !important;
  padding: 15px;
}
section {
  border: 1px solid #bbbbbb;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.navbar-brand {
  color: #e4e4e4 !important;
  font-size: 1.6rem;
}
.nav-link {
  color: #cccaca !important;
  font-size: 1.2rem;
  font-weight: 600;
}
.experimentation {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.logiciel {
  border-bottom: 2px solid #0dac05;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.container-description {
  width: 800px !important;
  margin: 0 auto;
}
.media {
  height: 100%;
  width: 48%;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.media:hover {
  transform: scale(1.1);
}

p,
li {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #bbbbbb;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 25px;
  color: #bbbbbb;
}
h1,
h2,
h3,
h4,
h5,
h6,
li {
  color: #bbbbbb;
}
h4 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 40px;
}
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #ebebeb;
  color: #007bff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid #007bff;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.big-steps {
  margin-left: 20px;
  margin-top: 10px;
}
